
@use "./colors" as *;
.btn{
    text-align: center;
    border: 0;
    // padding: 6px 10px 6px 10px;
    cursor: pointer;
    border: 1px solid  $primary-color; 
    color: $primary-color;
}
.btn-outlined{
    background-color: transparent;
    padding:  5px 20px;
    transition: background-color 0.4s;
    &:hover{
        background-color: $secondary-color;
    }
}