$bg-color: hsl(209, 86%, 20%);
$bg-color-lighter: hsl(209, 90%, 22%);
$primary-color: #5ADBFF;
$secondary-color: hsl(210, 43%, 41%);
$secondary-color-lighter: hsl(210, 43%, 80%);
$third-color: #FFDD4A;
$fourth-color:  #FE9000;
:root{
    
    --primary-color:#5ADBFF;
    --secondary-color: #3C6997;
    --secondary-color-bg-trans: hsl(209, 86%, 20%, 0.9)
}

.primary-color{
    color: $primary-color;
}
.secondary-color{
    color: $secondary-color;
}
.title-color{
    color: hsl(0, 0%, 80%);
}
.reading-text-color{
    color: hsl(0, 0%, 60%);

}