$bg-color: #094074;
$primary-color: #5ADBFF;
$secondary-color: #3C6997;
$third-color: #FFDD4A;
$fourth-color:  #FE9000;
:root{
    --primary-color:#5ADBFF;
    --secondary-color: #3C6997;
}

.primary-color{
    color: $primary-color;
}
.secondary-color{
    color: $secondary-color;
}
.title-color{
    color: hsl(0, 0%, 80%);
}
.reading-text-color{
    color: hsl(0, 0%, 60%);

}