@use "../../../sass/abstracts/colors" as *;
@use "../../../sass/abstracts/breakpoints" as *;
.projects{
    
    .project{
        position: relative;

        height: 500px;
        .image {
            object-fit: contain;
            
            a{
                filter: brightness(0.1);
                width: 100%;
                height: 100%;
                position: absolute;
                top:0;
                left:0;
                z-index: 2;
               &:hover{
                filter: brightness(0.5);

               }
            }
           
        }
        .text{
           position: absolute;
            top: 20%;
            z-index: 3;
        }
    }
    height: 80vh;
    &-title{
        font-weight: 700;
        font-size: 1.5rem;
        cursor: pointer;
        &:hover{
            color: $primary-color;
        }
    }

    &-content{
       
        p{
            @include lg{
                color:$secondary-color;
                filter: brightness(1.5);
                background-color:  $bg-color;
            }

        }
        
    }
  
   &-right{
       @include lg{
            text-align: right;
       }
   }
}
.icons{
    display: inline-flex;
    cursor: pointer;
    &__right a{
        @include lg{
            padding-left: 10px;
        }
    }
}
.technologies{
    
    &-left li{
        display: inline-flex;
        @include lg{
        padding-left:  10px;

        }
    }
   
}