@media screen{
    body{font-family: Verdana, Arial, Helvetica, sans-serif;  color: #000000;  font-size: 11px;  font-style: normal;  text-decoration: none;}
    .cvTable{width:980px;}
    .rowTitleView{font-weight:normal;padding-top:3px;padding-bottom:3px;padding-right:2px;padding-left:10px;text-align:right;width:150px;}
    .rowDataView{font-weight:bold;padding-top:3px;padding-bottom:3px;padding-right:10px;padding-left:10px;text-align:left;line-height:14px;}
    .rowDataViewNormal{font-weight:normal;padding-top:3px;padding-bottom:3px;padding-right:10px;padding-left:10px;text-align:left;line-height:14px;}
    .spanDataView{font-weight:normal;}
    .spanDataViewGrey{font-weight:normal;color:#999999;}
    #printDiv{
        display:block;
    }

}
@media print{
     body{font-family: Verdana, Arial, Helvetica, sans-serif;  color: #000000;  font-size: 11px;  font-style: normal;  text-decoration: none;}
    .cvTable{width:100%;}
    .rowTitleView{font-weight:normal;padding-top:3px;padding-bottom:3px;padding-right:2px;padding-left:10px;text-align:right;width:150px;}
    .rowDataView{font-weight:bold;padding-top:3px;padding-bottom:3px;padding-right:10px;padding-left:10px;text-align:left;}
    .rowDataViewNormal{font-weight:normal;padding-top:3px;padding-bottom:3px;padding-right:10px;padding-left:10px;text-align:left;}
    .spanDataView{font-weight:normal;}
    .spanDataViewGrey{font-weight:normal;color:#999999;}
    #printDiv{
        display:none;
    }

}