
@use "../abstracts/colors" as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    border: 0;
    list-style: none;

}
html{
    box-sizing: border-box;
    width: 100%;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    overflow-y: visible;


  }
  body::-webkit-scrollbar {

    width: 8px;
  }
  body::-webkit-scrollbar-track {
      background-color: $bg-color;
      filter: brightness(2);

  }
  body::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
    border: 3px solid $secondary-color;
    scrollbar-width: thin;

    border-radius: 10px;
  }


body{
    font-family: 'Poppins', sans-serif;
    background-color: $bg-color;
    counter-reset: section;
    overflow-x: hidden;
}
::selection {
  background-color: $secondary-color-darker;
}
#root{
  overflow-x: hidden;

    position: relative;
}
