
@use "../abstracts/colors" as *;
@use "../abstracts/breakpoints" as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.bigger-text{
    font-size: 1.25rem;
}
.big-title{
    font-size: 3.5rem;
    line-height: 1.1;
}
.title{
    position: relative;
}
.title::before{
    counter-increment: section;
    content: "0" counter(section) ". ";
    color: $primary-color;
    font-family: 'Roboto Mono', monospace;
}
.title::after{
    content: "";
    position: absolute;
    top: 50%;
    margin-left: 10px;
    width: 100%;

    background-color: $secondary-color;
    height: 1px;
    display:inline-block;
    @include md{
        width: 100px;
    }
}