@use "../../../../sass/abstracts/colors" as *;
.title{
    &:after{
        width: 0 !important;
    }
}
.titleNext{
    height:100%;
}
.getInTouch{
    margin-top: -18px;
}
.contact{
    .text{
        text-align: center;
        color: $secondary-color;
    }
}