header{
    min-height:100vh;
    align-items: flex-start;
}

.headerTest2{
    line-height: 1;
}
@media (min-width: 720px){
    .headerTest{
        margin-bottom: -25px;
    }
    .headerTest2{
        line-height: 1.3;
    }

}