.video-box{
    position: relative;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    cursor: pointer;
    &:hover{
        filter:grayscale(0);
    }
    video{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
       
    }
}