@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --primary-color:#5ADBFF;
  --secondary-color: #3C6997;
}

.primary-color {
  color: #5ADBFF;
}

.secondary-color {
  color: #3C6997;
}

.title-color {
  color: hsl(0deg, 0%, 80%);
}

.reading-text-color {
  color: hsl(0deg, 0%, 60%);
}

.btn {
  background-color: transparent;
  text-align: center;
  border: 0;
  cursor: pointer;
  border: 1px solid #5ADBFF;
  color: #5ADBFF;
}

@media (min-width: 0) {
  .col-xs-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
}
@media (min-width: 0) {
  .col-xs-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
}
@media (min-width: 0) {
  .col-xs-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
@media (min-width: 0) {
  .col-xs-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
}
@media (min-width: 0) {
  .col-xs-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 0) {
  .col-xs-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 0) {
  .col-xs-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
}
@media (min-width: 0) {
  .col-xs-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
}
@media (min-width: 0) {
  .col-xs-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
}
@media (min-width: 0) {
  .col-xs-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
}
@media (min-width: 0) {
  .col-xs-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
}
@media (min-width: 0) {
  .col-xs-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-sm-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
}
@media (min-width: 480px) {
  .col-sm-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
}
@media (min-width: 480px) {
  .col-sm-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
@media (min-width: 480px) {
  .col-sm-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
}
@media (min-width: 480px) {
  .col-sm-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 480px) {
  .col-sm-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 480px) {
  .col-sm-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
}
@media (min-width: 480px) {
  .col-sm-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
}
@media (min-width: 480px) {
  .col-sm-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
}
@media (min-width: 480px) {
  .col-sm-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
}
@media (min-width: 480px) {
  .col-sm-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
}
@media (min-width: 480px) {
  .col-sm-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-md-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
}
@media (min-width: 720px) {
  .col-md-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
}
@media (min-width: 720px) {
  .col-md-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
@media (min-width: 720px) {
  .col-md-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
}
@media (min-width: 720px) {
  .col-md-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 720px) {
  .col-md-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 720px) {
  .col-md-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
}
@media (min-width: 720px) {
  .col-md-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
}
@media (min-width: 720px) {
  .col-md-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
}
@media (min-width: 720px) {
  .col-md-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
}
@media (min-width: 720px) {
  .col-md-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
}
@media (min-width: 720px) {
  .col-md-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-lg-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
}
@media (min-width: 960px) {
  .col-lg-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
}
@media (min-width: 960px) {
  .col-lg-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
@media (min-width: 960px) {
  .col-lg-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
}
@media (min-width: 960px) {
  .col-lg-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 960px) {
  .col-lg-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 960px) {
  .col-lg-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
}
@media (min-width: 960px) {
  .col-lg-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
}
@media (min-width: 960px) {
  .col-lg-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
}
@media (min-width: 960px) {
  .col-lg-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
}
@media (min-width: 960px) {
  .col-lg-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
}
@media (min-width: 960px) {
  .col-lg-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
}
@media (min-width: 1200px) {
  .col-xl-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .col-xl-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
}
@media (min-width: 1200px) {
  .col-xl-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .col-xl-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
}
@media (min-width: 1200px) {
  .col-xl-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .col-xl-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
}
@media (min-width: 1200px) {
  .col-xl-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.container-fluid {
  width: min(100% - 2rem, 1200px);
  margin-inline: auto;
}

.container {
  width: min(100% - 2rem, 900px);
  margin-inline: auto;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
}

@media (min-width: 0) {
  .pt-xs-1 {
    padding-bottom: 1rem;
  }

  .pb-xs-1 {
    padding-bottom: 1rem;
  }

  .mt-xs-1 {
    margin-top: 1rem;
  }

  .mb-xs-1 {
    margin-bottom: 1rem;
  }
}
@media (min-width: 0) {
  .pt-xs-2 {
    padding-bottom: 2rem;
  }

  .pb-xs-2 {
    padding-bottom: 2rem;
  }

  .mt-xs-2 {
    margin-top: 2rem;
  }

  .mb-xs-2 {
    margin-bottom: 2rem;
  }
}
@media (min-width: 0) {
  .pt-xs-3 {
    padding-bottom: 3rem;
  }

  .pb-xs-3 {
    padding-bottom: 3rem;
  }

  .mt-xs-3 {
    margin-top: 3rem;
  }

  .mb-xs-3 {
    margin-bottom: 3rem;
  }
}
@media (min-width: 0) {
  .pt-xs-4 {
    padding-bottom: 4rem;
  }

  .pb-xs-4 {
    padding-bottom: 4rem;
  }

  .mt-xs-4 {
    margin-top: 4rem;
  }

  .mb-xs-4 {
    margin-bottom: 4rem;
  }
}
@media (min-width: 0) {
  .pt-xs-5 {
    padding-bottom: 5rem;
  }

  .pb-xs-5 {
    padding-bottom: 5rem;
  }

  .mt-xs-5 {
    margin-top: 5rem;
  }

  .mb-xs-5 {
    margin-bottom: 5rem;
  }
}
@media (min-width: 0) {
  .b-xs-1 {
    border: 1rem solid #094074;
  }
}
@media (min-width: 0) {
  .b-xs-2 {
    border: 2rem solid #094074;
  }
}
@media (min-width: 0) {
  .b-xs-3 {
    border: 3rem solid #094074;
  }
}
@media (min-width: 0) {
  .b-xs-4 {
    border: 4rem solid #094074;
  }
}
@media (min-width: 0) {
  .b-xs-5 {
    border: 5rem solid #094074;
  }
}
@media (min-width: 0) {
  .d-xs-none {
    display: none !important;
  }
}

@media (min-width: 0) {
  .d-xs-block {
    display: block !important;
  }
}

@media (min-width: 0) {
  .d-xs-flex {
    display: flex !important;
  }
}

@media (min-width: 0) {
  .d-xs-grid {
    display: grid !important;
  }
}

@media (min-width: 0) {
  .container-xs-fluid {
    width: min(100% - 2rem, 1600px);
    margin-inline: auto;
  }
}

@media (min-width: 0) {
  .container-xs {
    width: min(100% - 2rem, 600px);
    margin-inline: auto;
  }
}

@media (min-width: 0) {
  .flex-xs-column {
    flex-direction: column;
  }
}

@media (min-width: 0) {
  .flex-xs-row {
    flex-direction: row;
  }
}

@media (min-width: 480px) {
  .pt-sm-1 {
    padding-bottom: 1rem;
  }

  .pb-sm-1 {
    padding-bottom: 1rem;
  }

  .mt-sm-1 {
    margin-top: 1rem;
  }

  .mb-sm-1 {
    margin-bottom: 1rem;
  }
}
@media (min-width: 480px) {
  .pt-sm-2 {
    padding-bottom: 2rem;
  }

  .pb-sm-2 {
    padding-bottom: 2rem;
  }

  .mt-sm-2 {
    margin-top: 2rem;
  }

  .mb-sm-2 {
    margin-bottom: 2rem;
  }
}
@media (min-width: 480px) {
  .pt-sm-3 {
    padding-bottom: 3rem;
  }

  .pb-sm-3 {
    padding-bottom: 3rem;
  }

  .mt-sm-3 {
    margin-top: 3rem;
  }

  .mb-sm-3 {
    margin-bottom: 3rem;
  }
}
@media (min-width: 480px) {
  .pt-sm-4 {
    padding-bottom: 4rem;
  }

  .pb-sm-4 {
    padding-bottom: 4rem;
  }

  .mt-sm-4 {
    margin-top: 4rem;
  }

  .mb-sm-4 {
    margin-bottom: 4rem;
  }
}
@media (min-width: 480px) {
  .pt-sm-5 {
    padding-bottom: 5rem;
  }

  .pb-sm-5 {
    padding-bottom: 5rem;
  }

  .mt-sm-5 {
    margin-top: 5rem;
  }

  .mb-sm-5 {
    margin-bottom: 5rem;
  }
}
@media (min-width: 480px) {
  .b-sm-1 {
    border: 1rem solid #094074;
  }
}
@media (min-width: 480px) {
  .b-sm-2 {
    border: 2rem solid #094074;
  }
}
@media (min-width: 480px) {
  .b-sm-3 {
    border: 3rem solid #094074;
  }
}
@media (min-width: 480px) {
  .b-sm-4 {
    border: 4rem solid #094074;
  }
}
@media (min-width: 480px) {
  .b-sm-5 {
    border: 5rem solid #094074;
  }
}
@media (min-width: 480px) {
  .d-sm-none {
    display: none !important;
  }
}

@media (min-width: 480px) {
  .d-sm-block {
    display: block !important;
  }
}

@media (min-width: 480px) {
  .d-sm-flex {
    display: flex !important;
  }
}

@media (min-width: 480px) {
  .d-sm-grid {
    display: grid !important;
  }
}

@media (min-width: 480px) {
  .container-sm-fluid {
    width: min(100% - 2rem, 1600px);
    margin-inline: auto;
  }
}

@media (min-width: 480px) {
  .container-sm {
    width: min(100% - 2rem, 600px);
    margin-inline: auto;
  }
}

@media (min-width: 480px) {
  .flex-sm-column {
    flex-direction: column;
  }
}

@media (min-width: 480px) {
  .flex-sm-row {
    flex-direction: row;
  }
}

@media (min-width: 720px) {
  .pt-md-1 {
    padding-bottom: 1rem;
  }

  .pb-md-1 {
    padding-bottom: 1rem;
  }

  .mt-md-1 {
    margin-top: 1rem;
  }

  .mb-md-1 {
    margin-bottom: 1rem;
  }
}
@media (min-width: 720px) {
  .pt-md-2 {
    padding-bottom: 2rem;
  }

  .pb-md-2 {
    padding-bottom: 2rem;
  }

  .mt-md-2 {
    margin-top: 2rem;
  }

  .mb-md-2 {
    margin-bottom: 2rem;
  }
}
@media (min-width: 720px) {
  .pt-md-3 {
    padding-bottom: 3rem;
  }

  .pb-md-3 {
    padding-bottom: 3rem;
  }

  .mt-md-3 {
    margin-top: 3rem;
  }

  .mb-md-3 {
    margin-bottom: 3rem;
  }
}
@media (min-width: 720px) {
  .pt-md-4 {
    padding-bottom: 4rem;
  }

  .pb-md-4 {
    padding-bottom: 4rem;
  }

  .mt-md-4 {
    margin-top: 4rem;
  }

  .mb-md-4 {
    margin-bottom: 4rem;
  }
}
@media (min-width: 720px) {
  .pt-md-5 {
    padding-bottom: 5rem;
  }

  .pb-md-5 {
    padding-bottom: 5rem;
  }

  .mt-md-5 {
    margin-top: 5rem;
  }

  .mb-md-5 {
    margin-bottom: 5rem;
  }
}
@media (min-width: 720px) {
  .b-md-1 {
    border: 1rem solid #094074;
  }
}
@media (min-width: 720px) {
  .b-md-2 {
    border: 2rem solid #094074;
  }
}
@media (min-width: 720px) {
  .b-md-3 {
    border: 3rem solid #094074;
  }
}
@media (min-width: 720px) {
  .b-md-4 {
    border: 4rem solid #094074;
  }
}
@media (min-width: 720px) {
  .b-md-5 {
    border: 5rem solid #094074;
  }
}
@media (min-width: 720px) {
  .d-md-none {
    display: none !important;
  }
}

@media (min-width: 720px) {
  .d-md-block {
    display: block !important;
  }
}

@media (min-width: 720px) {
  .d-md-flex {
    display: flex !important;
  }
}

@media (min-width: 720px) {
  .d-md-grid {
    display: grid !important;
  }
}

@media (min-width: 720px) {
  .container-md-fluid {
    width: min(100% - 2rem, 1600px);
    margin-inline: auto;
  }
}

@media (min-width: 720px) {
  .container-md {
    width: min(100% - 2rem, 600px);
    margin-inline: auto;
  }
}

@media (min-width: 720px) {
  .flex-md-column {
    flex-direction: column;
  }
}

@media (min-width: 720px) {
  .flex-md-row {
    flex-direction: row;
  }
}

@media (min-width: 960px) {
  .pt-lg-1 {
    padding-bottom: 1rem;
  }

  .pb-lg-1 {
    padding-bottom: 1rem;
  }

  .mt-lg-1 {
    margin-top: 1rem;
  }

  .mb-lg-1 {
    margin-bottom: 1rem;
  }
}
@media (min-width: 960px) {
  .pt-lg-2 {
    padding-bottom: 2rem;
  }

  .pb-lg-2 {
    padding-bottom: 2rem;
  }

  .mt-lg-2 {
    margin-top: 2rem;
  }

  .mb-lg-2 {
    margin-bottom: 2rem;
  }
}
@media (min-width: 960px) {
  .pt-lg-3 {
    padding-bottom: 3rem;
  }

  .pb-lg-3 {
    padding-bottom: 3rem;
  }

  .mt-lg-3 {
    margin-top: 3rem;
  }

  .mb-lg-3 {
    margin-bottom: 3rem;
  }
}
@media (min-width: 960px) {
  .pt-lg-4 {
    padding-bottom: 4rem;
  }

  .pb-lg-4 {
    padding-bottom: 4rem;
  }

  .mt-lg-4 {
    margin-top: 4rem;
  }

  .mb-lg-4 {
    margin-bottom: 4rem;
  }
}
@media (min-width: 960px) {
  .pt-lg-5 {
    padding-bottom: 5rem;
  }

  .pb-lg-5 {
    padding-bottom: 5rem;
  }

  .mt-lg-5 {
    margin-top: 5rem;
  }

  .mb-lg-5 {
    margin-bottom: 5rem;
  }
}
@media (min-width: 960px) {
  .b-lg-1 {
    border: 1rem solid #094074;
  }
}
@media (min-width: 960px) {
  .b-lg-2 {
    border: 2rem solid #094074;
  }
}
@media (min-width: 960px) {
  .b-lg-3 {
    border: 3rem solid #094074;
  }
}
@media (min-width: 960px) {
  .b-lg-4 {
    border: 4rem solid #094074;
  }
}
@media (min-width: 960px) {
  .b-lg-5 {
    border: 5rem solid #094074;
  }
}
@media (min-width: 960px) {
  .d-lg-none {
    display: none !important;
  }
}

@media (min-width: 960px) {
  .d-lg-block {
    display: block !important;
  }
}

@media (min-width: 960px) {
  .d-lg-flex {
    display: flex !important;
  }
}

@media (min-width: 960px) {
  .d-lg-grid {
    display: grid !important;
  }
}

@media (min-width: 960px) {
  .container-lg-fluid {
    width: min(100% - 2rem, 1600px);
    margin-inline: auto;
  }
}

@media (min-width: 960px) {
  .container-lg {
    width: min(100% - 2rem, 600px);
    margin-inline: auto;
  }
}

@media (min-width: 960px) {
  .flex-lg-column {
    flex-direction: column;
  }
}

@media (min-width: 960px) {
  .flex-lg-row {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .pt-xl-1 {
    padding-bottom: 1rem;
  }

  .pb-xl-1 {
    padding-bottom: 1rem;
  }

  .mt-xl-1 {
    margin-top: 1rem;
  }

  .mb-xl-1 {
    margin-bottom: 1rem;
  }
}
@media (min-width: 1200px) {
  .pt-xl-2 {
    padding-bottom: 2rem;
  }

  .pb-xl-2 {
    padding-bottom: 2rem;
  }

  .mt-xl-2 {
    margin-top: 2rem;
  }

  .mb-xl-2 {
    margin-bottom: 2rem;
  }
}
@media (min-width: 1200px) {
  .pt-xl-3 {
    padding-bottom: 3rem;
  }

  .pb-xl-3 {
    padding-bottom: 3rem;
  }

  .mt-xl-3 {
    margin-top: 3rem;
  }

  .mb-xl-3 {
    margin-bottom: 3rem;
  }
}
@media (min-width: 1200px) {
  .pt-xl-4 {
    padding-bottom: 4rem;
  }

  .pb-xl-4 {
    padding-bottom: 4rem;
  }

  .mt-xl-4 {
    margin-top: 4rem;
  }

  .mb-xl-4 {
    margin-bottom: 4rem;
  }
}
@media (min-width: 1200px) {
  .pt-xl-5 {
    padding-bottom: 5rem;
  }

  .pb-xl-5 {
    padding-bottom: 5rem;
  }

  .mt-xl-5 {
    margin-top: 5rem;
  }

  .mb-xl-5 {
    margin-bottom: 5rem;
  }
}
@media (min-width: 1200px) {
  .b-xl-1 {
    border: 1rem solid #094074;
  }
}
@media (min-width: 1200px) {
  .b-xl-2 {
    border: 2rem solid #094074;
  }
}
@media (min-width: 1200px) {
  .b-xl-3 {
    border: 3rem solid #094074;
  }
}
@media (min-width: 1200px) {
  .b-xl-4 {
    border: 4rem solid #094074;
  }
}
@media (min-width: 1200px) {
  .b-xl-5 {
    border: 5rem solid #094074;
  }
}
@media (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-block {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-flex {
    display: flex !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-grid {
    display: grid !important;
  }
}

@media (min-width: 1200px) {
  .container-xl-fluid {
    width: min(100% - 2rem, 1600px);
    margin-inline: auto;
  }
}

@media (min-width: 1200px) {
  .container-xl {
    width: min(100% - 2rem, 600px);
    margin-inline: auto;
  }
}

@media (min-width: 1200px) {
  .flex-xl-column {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .flex-xl-row {
    flex-direction: row;
  }
}

.list-container {
  list-style-type: disc !important;
  padding-left: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
  border: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #094074;
}

#root {
  position: relative;
}

.bigger-text {
  font-size: 1.25rem;
}

.big-title {
  font-size: 4rem;
  line-height: 1.1;
}

/*# sourceMappingURL=index.css.map */
