nav > *{
    z-index: 1000 ;
}
.navTextContainer{
    position: fixed;
    
}
nav > section > *{
    font-size: 0.9rem;
}
.navTextContainer {
    margin: 10px 0;
}
.nav-links ul{
    column-gap: 2rem;
}
.navIconContainer{
    position:relative; 
}
a{
    color: inherit;
}
li a:hover,a:hover{
    color: var(--primary-color);
}
.fixed-wrapper{  
    position: absolute;
    left: 0;
}
.fixed-wrapper-right{
    left: 96%;
}
.navSticky{
    position: fixed;
    bottom: 0;
}
/* Social links */
.nav-social ul li{
   padding-bottom: 20px;
}
.nav-social > ul::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--secondary-color);

}
.nav-social a{
    font-size: 1.25rem;
    color: var(--secondary-color);
    transition: transform 200ms, color 200ms ease-in-out;
}
.nav-social li:hover{
    transform: translateY(-3px);
}
/* Email link */

.nav-email > a{
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-lr;
    letter-spacing: 2px;
    transition: transform 200ms, color 200ms ease-in-out;
    height: 240px;

}
.nav-email a:hover{
    transform: translateY(-3px);
}
.nav-email::after{
       content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--secondary-color);
}

.nav-links{
    filter: brightness(1.5);
}

