nav > section > *{
    font-size: 0.9rem;
}
.navIconContainer{
    position:relative;
  
}
.fixed-wrapper{  
    position: absolute;
    left: 0;
}
.fixed-wrapper-right{
    left: 96%;
}
.navSticky{
    position: fixed;
    bottom: 0;

}
/* Social links */
.nav-social ul li{
   padding-bottom: 10px;
}
.nav-social > ul::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--secondary-color);

}
.nav-social a{
    font-size: 1.25rem;
    color: var(--secondary-color);
    
}
/* Email link */
.nav-email > a{
    padding-bottom: 10px;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-lr;

}
.nav-email::after{
       content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--secondary-color);
}

.nav-links{
    filter: brightness(1.5);
}

